<div id="left02">
  <div class="sideWrap">
    <h4><p><%= @pan1 -%></p></h4>
    <div class="sideMenu">
      <ul>
        <li><%= link_to "#{t('view.noun.base_ng_word')}一覧", :action => 'list' %></li>
		<li><%= link_to '新規作成', :action => 'new' %></li>
      </ul>
    </div>
  </div>
</div><!-- /left02 -->
