<div style="text-align:left;">
2.弊社は、弊社の運営する本サイトにおける各種サービスの提供や情報利用（キャンペーン、アンケート等を含む）等を行うため、
個人情報を同意の上ご提供頂く場合があります。ご提供頂いた皆様の個人情報に関しましては、
本サイトのサービスにおける情報の発信や商品、景品等の発送、個人を特定しない統計データとしての分析等を目的とし、
当該目的以外の利用を行わないよう管理してまいります。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '03' %>
</div>
</div>