
<div style="text-align:left;">
3. 個人情報を保護するため、個人情報への不正アクセス、紛失、破壊、改ざんおよび漏洩等を防止する適切な措置を講じ、予防に努めてまいります。
それら適切な個人情報の取扱い維持のために、社内教育・内部統制・システムセキュリティ等の継続的な見直しを図り、個人情報保護の向上に努めます。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '04' %>
</div>
</div>