
<div style="text-align:left;">
5. ご提供頂いた個人情報について開示・訂正・利用の停止等を希望される場合には、株式会社○○○にご連絡頂ければ、
ご本人であることを確認させて頂いた上で、株式会社○○○の定める手続きにより適切な期間内に応対してまいります。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '06' %>
</div>
</div>