
<div style="text-align:left;">
6. 弊社における個人情報保護の取組みについては、継続的に見直しを行い、個人情報保護のために有効に機能させるよう努めてまいります。<br/>
<br/>
<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '07' %>
</div>
</div>