
<div style="text-align:left;">
【本方針への同意について】<br/>
本サイトのサービスをご利用していただいた時点で、本方針に同意したものと取扱われます。したがって、十分に内容をご理解いただいた上で、ご利用いただけますようお願い申し上げます。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '08' %>
</div>
</div>