
<div style="text-align:left;">
【個人情報の収集について】<br/>
弊社は本サイトのサービス提供にあたり、以下のような情報を取得いたします。また、以下の内容によっては個人情報に該当しない場合もございます。<br/>
◆お客様からご提供いただく情報例<br/>
1）氏名（フリガナ、ニックネーム含む）<br/>
2）住所<br/>
3）生年月日<br/>
4）電話番号（ファックス、携帯電話含む）<br/>
5）電子メールアドレス、携帯メールアドレス<br/>
6）会社名、団体名、部署名、役職、勤務先所在地<br/>
7）連絡先に関する情報<br/>
8）性別<br/>
9）その他、当社に提供される一切の情報<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '09' %>
</div>
</div>