
<div style="text-align:left;">
【個人情報の利用目的】 <br/>
本サイトにおけるサービス利用時に登録された個人情報に関する利用目的は、以下の内容となります。<br/>
1）本サイトの利用時における本人認証、各種画面における会員情報の自動表示。<br/>
2）本サイトのキャンペーン、電子メール、ダイレクトメールの配信及び商品、景品の発送。<br/>
3）情報主体のお客様から弊社に電子メールや郵送、電話などでお問合せがあった時の対応。<br/>
4）本サイトのプレゼントキャンペーンなどによる、本サイト内での当選者発表。但し、当選者への事前確認により、同意を得た場合とします。<br/>
5）各種統計データを作成し、第三者に提供する場合があります。（この場合、個人情報と切り離した後に利用することを原則にします。）<br/>
6）その他、本サイトにおいて、上記に明記していない目的で個人情報を利用する場合があります。その場合には、本サイト上にその利用目的を公表し、お客様の同意を頂いた上で利用いたします。<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '10' %>
</div>
</div>