
<div style="text-align:left;">
【個人情報の収集方法】<br/>
弊社が運営する本サイトのサービスをご利用いただく際に、氏名、住所、電話番号、アンケート回答などの個人情報を登録していただく場合がございます。<br/>
個人情報について本サイトにご登録していただくことは、本サイトのサービスを利用されるお客様の判断に委ねられており、それら全てに回答する必要はありません。
また、提供できるサービスは、登録していただいた情報の内容により変わる可能性もあります。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '11' %>
</div>
</div>