
<div style="text-align:left;">
【個人情報の安全性】<br/>
弊社は登録いただきました個人情報の正確性、最新性を確保するために情報主体のお客様にご協力をお願いする場合がございます。また、重要な情報の入力時には、これらの情報が不当なアクセスによる紛失、破壊、改ざん、漏洩、傍受、妨害されることを防ぐために技術面及び組織面において合理的かつ厳正な安全対策を講じます。<br/>
但し、以下の件が原因で個人情報の漏洩が発生した場合は、弊社で責任を負いかねますのでご注意下さい。<br/>
1）コメントなどを掲載する掲示板等に個人情報を記載し、自発的に誰でもアクセスできるオンライン上に個人情報を開示した場合。<br/>
2）情報主体のお客様からの電子メールなどの送信時。<br/>
3）パスワード、ID等、個人又は個人が利用した端末から情報が漏洩した場合。<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '12' %>
</div>
</div>