
<div style="text-align:left;">
【第三者への開示について】<br/>
弊社は、お客様の個人情報を、お客様の同意がない限り第三者に提供いたしません。た　　だし、法令、裁判所または行政機関により開示を請求された場合は、この限りではありません。<br/>
弊社は、本サイトの運営に関して業務委託先に個人情報を預託する場合がございます。業務委託に際しては、適切に個人情報を保護できることを条件として委託先を選定し、機密保持契約書を締結した上で行います。<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '13' %>
</div>
</div>