
<div style="text-align:left;">
【本方針の変更について】<br/>
本方針の内容はお客様の了承を得ることなく変更されることがあります。
その場合の弊社の運営する本サイトのサービス利用条件は、変更後の方針によります。
変更後の方針内容については、本サイト上に公表した時点より効力を生じるものとします。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '14' %>
</div>
</div>