
<div style="text-align:left;">
【個人情報開示等の求めについて】<br/>
お客様の個人情報の開示などのお求めにつきましては、
パソコンで株式会社○○○のホームページにアクセスのうえ、
所定の「個人情報開示依頼書」をダウンロードしていただき、必要事項を記入のうえ、本人確認書類を同封して郵送にて下記までお送り下さい。
尚、「個人情報開示依頼書」をお送りいただく前に必ず以下の内容をご確認下さい。<br/>
<br/>
<div style="text-align:center;">
記
</div>
〒○○○-○○○東京都○○○<br/>
株式会社○○○<br/>
「○○○」宛<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '17' %>
</div>
</div>