
<div style="text-align:left;">
1）本人確認書類について<br/>
＊ご本人の場合<br/>
・運転免許証、パスポート、各種健康保険証、各種年金手帳、各種福祉手帳、外国人登録証明書の写し（有効期限内もしくは現在有効なものに限ります。）<br/>
＊法定代理人の場合<br/>
・法廷代理権があることを確認するための書類（戸籍謄本、親権者の場合は扶養家族が記入された健康保険証の写し）<br/>
＊委任による代理人の場合<br/>
・委任状（実印押印のもの）とご本人様の印鑑登録証明書<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '18' %>
</div>
</div>