
<div style="text-align:left;">
3）開示等のお求めに関して取得した個人情報の利用目的<br/>
開示等のお求めの手続きによりお客様からご提供頂いた個人情報は、当該手続きのための調査、
本人確認及び当該開示等のお求めに対する回答のために利用し、厳重に一定期間保管し、適法に処分いたします。

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '20' %>
</div>
</div>