
<div style="text-align:left;">
4）手数料について<br/>
個人情報の開示、利用目的の通知につきましては、手数料を頂戴いたします。<br/>
手数料金額　：1件につき1,000円<br/>
お支払方法　：定額小為替（郵便局窓口発行）若しくは現金を「個人情報開示依頼書」とともにお送り下さい。<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '21' %>
</div>
</div>