
<div style="text-align:left;">
5）その他<br/>
次の場合は、開示等のお求めの受付をいたしかねますので、予めご了承願います。<br/>
＊お客様ご本人または代理人の本人確認ができない場合<br/>
＊代理人によるご依頼に際して、代理人が確認できない場合<br/>
＊手数料のお支払いがない場合<br/>
＊依頼書に不備があった場合<br/>
　 また、次の場合は法第２５条第１項の規定による開示のお求めに対する回答をいたしかねますので、予めご了承願います。開示しない場合は、その旨理由を付して回答いたします。<br/>
＊ご依頼のあった情報が保有個人データにない場合<br/>
＊ご本人または第三者の生命、身体、財産その他の権利利益を害する恐れがある場合<br/>
＊当社の業務の適正な実施に著しい支障を及ぼす恐れがある場合<br/>
＊他の法令に違反することとなる場合<br/>

<div style="text-align:right;">
	<%= link_basic_to "続きを読む", :action=> '22' %>
</div>
</div>