
<div style="text-align:left;">
【個人情報の取扱いに関するお問合わせ先】
個人情報保護に関するお問合せにつきましては、下記までご連絡下さい。

<div style="text-align:center;">
記
</div>
〒○○○-○○○東京都○○○<br/>
株式会社○○○<br/>
「○○○」<br/>
<br/>
専用メールアドレス： ○○○ 

</div>