
<h3>○○○個人情報保護方針</h3>

<p>
株式会社○○○（以下、弊社といいます。）は、業務遂行上、個人情報を様々な形で取扱っております。
お預かりする個人情報は大変重要な情報であり、その個人情報の保護は社会的責務と考えております。
弊社はこの様な考え方を、各々の役員及び従業員等に周知させることにより、弊社が運営する「○○○」（以下、本サイトといいます。）にて収集した個人情報を保護するための個人情報保護方針を確立いたします。
さらに、これを維持し、継続的に改善してまいります。
</p>

<ul>
<li>1. 個人情報の取扱いについては、関連する法令、各種規範を遵守し、適切な管理に努めてまいります。</li>
<li>2.弊社は、弊社の運営する本サイトにおける各種サービスの提供や情報利用（キャンペーン、アンケート等を含む）等を行うため、
個人情報を同意の上ご提供頂く場合があります。ご提供頂いた皆様の個人情報に関しましては、
本サイトのサービスにおける情報の発信や商品、景品等の発送、個人を特定しない統計データとしての分析等を目的とし、
当該目的以外の利用を行わないよう管理してまいります。</li>
<li>3. 個人情報を保護するため、個人情報への不正アクセス、紛失、破壊、改ざんおよび漏洩等を防止する適切な措置を講じ、予防に努めてまいります。
それら適切な個人情報の取扱い維持のために、社内教育・内部統制・システムセキュリティ等の継続的な見直しを図り、個人情報保護の向上に努めます。</li>
<li>4. 個人情報の処理を弊社の協力会社等に委託する場合は、機密保持契約書の締結等を通じ、弊社の監督のもとで行ってまいります。</li>
<li>5. ご提供頂いた個人情報について開示・訂正・利用の停止等を希望される場合には、株式会社○○○にご連絡頂ければ、
ご本人であることを確認させて頂いた上で、株式会社○○○の定める手続きにより適切な期間内に応対してまいります。</li>
<li>6. 弊社における個人情報保護の取組みについては、継続的に見直しを行い、個人情報保護のために有効に機能させるよう努めてまいります。</li>
</ul>

<h3>【本方針への同意について】</h3>
</p>
本サイトのサービスをご利用していただいた時点で、本方針に同意したものと取扱われます。したがって、十分に内容をご理解いただいた上で、ご利用いただけますようお願い申し上げます。
</p>
<br/><br/><br/>
<h3>【個人情報の収集について】</h3>

<p>弊社は本サイトのサービス提供にあたり、以下のような情報を取得いたします。また、以下の内容によっては個人情報に該当しない場合もございます。</p>
◆お客様からご提供いただく情報例<br/>
1）氏名（フリガナ、ニックネーム含む）<br/>
2）住所<br/>
3）生年月日<br/>
4）電話番号（ファックス、携帯電話含む）<br/>
5）電子メールアドレス、携帯メールアドレス<br/>
6）会社名、団体名、部署名、役職、勤務先所在地<br/>
7）連絡先に関する情報<br/>
8）性別<br/>
9）その他、当社に提供される一切の情報<br/>

<br/><br/>
<h3>【個人情報の収集方法】</h3>
<p>
弊社が運営する本サイトのサービスをご利用いただく際に、氏名、住所、電話番号、アンケート回答などの個人情報を登録していただく場合がございます。<br/>
個人情報について本サイトにご登録していただくことは、本サイトのサービスを利用されるお客様の判断に委ねられており、それら全てに回答する必要はありません。
また、提供できるサービスは、登録していただいた情報の内容により変わる可能性もあります。
</p>

<br/>
<h3>【個人情報の安全性】</h3>
<p>
弊社は登録いただきました個人情報の正確性、最新性を確保するために情報主体のお客様にご協力をお願いする場合がございます。また、重要な情報の入力時には、これらの情報が不当なアクセスによる紛失、破壊、改ざん、漏洩、傍受、妨害されることを防ぐために技術面及び組織面において合理的かつ厳正な安全対策を講じます。<br/>
但し、以下の件が原因で個人情報の漏洩が発生した場合は、弊社で責任を負いかねますのでご注意下さい。<br/>
1）コメントなどを掲載する掲示板等に個人情報を記載し、自発的に誰でもアクセスできるオンライン上に個人情報を開示した場合。<br/>
2）情報主体のお客様からの電子メールなどの送信時。<br/>
3）パスワード、ID等、個人又は個人が利用した端末から情報が漏洩した場合。<br/>
</p>

<h3>【第三者への開示について】</h3>
<p>
弊社は、お客様の個人情報を、お客様の同意がない限り第三者に提供いたしません。ただし、法令、裁判所または行政機関により開示を請求された場合は、この限りではありません。<br/>
弊社は、本サイトの運営に関して業務委託先に個人情報を預託する場合がございます。業務委託に際しては、適切に個人情報を保護できることを条件として委託先を選定し、機密保持契約書を締結した上で行います。<br/>
</p>
<br/>
<h3>【本方針の変更について】</h3>
<p>
本方針の内容はお客様の了承を得ることなく変更されることがあります。
その場合の弊社の運営する本サイトのサービス利用条件は、変更後の方針によります。
変更後の方針内容については、本サイト上に公表した時点より効力を生じるものとします。
</p>
<br/>
<h3>【個人情報の廃棄について】</h3>
<p>
弊社は、情報主体から提供されました個人情報については、弊社の定める適切な期間内に廃棄いたします。
</p><br/>
<h3>【未成年者のご登録について】</h3>
<p>
未成年の方が本サイトに会員登録する際は、必ず保護者の承認を得るようにお願いしております。
</p><br/>
<h3>【個人情報開示等の求めについて】</h3>
<p>
お客様の個人情報の開示などのお求めにつきましては、
パソコンで株式会社○○○のホームページにアクセスのうえ、
所定の「個人情報開示依頼書」をダウンロードしていただき、必要事項を記入のうえ、本人確認書類を同封して郵送にて下記までお送り下さい。
尚、「個人情報開示依頼書」をお送りいただく前に必ず以下の内容をご確認下さい。<br/>
</p>
<div style="text-align:center;">
記
</div>
〒○○○-○○○東京都○○○<br/>
株式会社○○○<br/>
「○○○」宛<br/>
<br/>
<p>
1）本人確認書類について<br/>
＊ご本人の場合<br/>
・運転免許証、パスポート、各種健康保険証、各種年金手帳、各種福祉手帳、外国人登録証明書の写し（有効期限内もしくは現在有効なものに限ります。）<br/>
＊法定代理人の場合<br/>
・法廷代理権があることを確認するための書類（戸籍謄本、親権者の場合は扶養家族が記入された健康保険証の写し）<br/>
＊委任による代理人の場合<br/>
・委任状（実印押印のもの）とご本人様の印鑑登録証明書<br/>
<br/>
2）回答の方法について<br/>
開示等のお求めの手続によりご提供頂いた個人情報は、当該手続のための調査、本人確認及び当該開示等のお求めに対する回答のために利用し、厳重に一定期間保管し、適法に処分いたします。
<br/><br/>
3）開示等のお求めに関して取得した個人情報の利用目的<br/>
開示等のお求めの手続きによりお客様からご提供頂いた個人情報は、当該手続きのための調査、
本人確認及び当該開示等のお求めに対する回答のために利用し、厳重に一定期間保管し、適法に処分いたします。
<br/><br/>
4）手数料について<br/>
個人情報の開示、利用目的の通知につきましては、手数料を頂戴いたします。<br/>
手数料金額　：1件につき1,000円<br/>
お支払方法　：定額小為替（郵便局窓口発行）若しくは現金を「個人情報開示依頼書」とともにお送り下さい。<br/>
<br/>
5）その他<br/>
次の場合は、開示等のお求めの受付をいたしかねますので、予めご了承願います。<br/>
＊お客様ご本人または代理人の本人確認ができない場合<br/>
＊代理人によるご依頼に際して、代理人が確認できない場合<br/>
＊手数料のお支払いがない場合<br/>
＊依頼書に不備があった場合<br/>
　 また、次の場合は法第２５条第１項の規定による開示のお求めに対する回答をいたしかねますので、予めご了承願います。開示しない場合は、その旨理由を付して回答いたします。<br/>
＊ご依頼のあった情報が保有個人データにない場合<br/>
＊ご本人または第三者の生命、身体、財産その他の権利利益を害する恐れがある場合<br/>
＊当社の業務の適正な実施に著しい支障を及ぼす恐れがある場合<br/>
＊他の法令に違反することとなる場合<br/>
</p>

<h3>【個人情報の取扱いに関するお問合わせ先】</h3>
<p>
個人情報保護に関するお問合せにつきましては、下記までご連絡下さい。
</p>
<div style="text-align:center;">
記
</div>
〒○○○-○○○東京都○○○<br/>
株式会社○○○<br/>
「○○○」<br/>
<br/>
専用メールアドレス： ○○○

<div style="text-align:right;">
平成xx年xx月xx日<br/>
<br/>
株式会社○○○<br/>
代表取締役社長　○○○<br/>
<br/>
  【xxxx年　xx月　xx日　　x版】
</div>

