<% content_for(:header_title) do %>
	対応端末
<% end %>

<div style="text-align:left;">
当サイトは DoCoMo、au、SoftBankの3キャリアに対応しておりますが、機種によって一部機能をお使いいただけない場合があります。<br />
<br />
<b>NTT DoCoMo</b><br />
FOMA対応機種<br />
<br />
<b>KDDI(au)</b><br />
CDMA 1X, WIN対応機種<br />
<br />
<b>SoftBank</b><br />
3GC対応機種、3G対応機種<br />
<br />
</div>

<%= image_tag_for_default 'Spec_08.gif' %><br />
