<div id="left02">
  <div class="sideWrap">
    <h4><p><%= @pan2 -%></p></h4>
    <div class="sideMenu">
      <ul>
        <li><%= link_to '一覧', manage_base_plugins_path %></li>
		<li><%= link_to 'プラグイン新着情報', news_manage_base_plugins_path %></li>
      </ul>
    </div>
  </div>
</div><!-- /left02 -->