<div style="float: left;"><%= @civil_graph %></div>
<table class="lineColorL" style="width:309px;padding-left:10px">
	<tr>
		<th>未婚</th>
		<td><%= @count_unmarried %></td>
	</tr>
	<tr>
		<th>既婚</th>
		<td><%= @count_married %></td>
	</tr>
	<tr>
		<th>未設定</th>
		<td><%= @unsetup_married %></td>
	</tr>
</table>
<div class="clear"></div>