<div style="float: left;"><%= @mail_magazine_graph %></div>
<table class="lineColorL" style="width:309px;padding-left:10px">
	<tr>
		<th>受信者数</th>
		<td><%= @count_receive %></td>
	</tr>
	<tr>
		<th>受信拒否者数</th>
		<td><%= @count_reject %></td>
	</tr>
</table>
<div class="clear"></div>