<% content_for(:header_title) do %>
<%= t('view.noun.base_profile') %>設定
<% end %>

<%= t('view.noun.base_profile') %>を設定しました。<br />
<br />
<span style="color:#f75100;"></span><%= link_basic_to "#{t('view.noun.base_profile')}に戻る", {:action => 'show', :id => current_base_user.id}, {:accesskey => 5} %>