<div id="left02">
  <div class="sideWrap">
    <h4><p><%= @pan2 -%></p></h4>
    <div class="sideMenu">
      <ul>
        <li><%= link_to "対応キャリア一覧", manage_base_mobiles_path %></li>
        
      </ul>
    </div>

	<h4><p>検索</p></h4>
	<div class="sideMenu">
		<% form_for :base_mobiles, :url => search_manage_base_mobiles_path do %>
			<%= text_field_tag 'keyword', @keyword %>
			<%= submit_tag '検索' %>
		<% end %>
	</div>
	
  </div>
</div><!-- /left02 -->