<% content_for(:sub_title) do %>
会員登録方法
<% end %>

<p>初めての方は、まず会員登録（無料）をしていただきます。</p>

<p>会員登録の手順</p>

<ul>
	<li>＜Step1＞ TOPにある会員登録ボタンなどから会員ボタンを押し、空メール送信を行ってください。</li>
	<li>＜Step2＞ しばらくすると、お客様の携帯にメールが届きますので、メール内にあるURLをクリックしてください。</li>
	<li>＜Step3＞ 必要事項を入力してください。</li>
</ul>