<% content_for(:sub_title) do %>
会員登録方法
<% end %>

<div style="text-align:left;">
初めての方は、まず会員登録（無料）をしていただきます。<br /><br />
会員登録の手順<br />
＜Step1＞ TOPにある会員登録ボタンなどから会員ボタンを押し、空メール送信を行ってください。<br />
＜Step2＞ しばらくすると、お客様の携帯にメールが届きますので、メール内にあるURLをクリックしてください。<br />
＜Step3＞ 必要事項を入力してください。<br />
<br /><br />
softbank端末の方は、製造番号通知をONにしないと会員登録やログインができません（端末出荷時はOFFになっています）。<br />
＜設定方法例＞<br />
1.待ち受け画面の状態から決定ボタンを押し、メニューを出します。<br />
2.Yahoo!ケータイ を選択します。<br />
3.ブラウザ設定の「製造番号通知」をONまたは通知するにします。<br />
<br />
<span style="color:#ff0000;">！注意！設定方法は端末によって異なります。端末の取り扱い説明書をご確認いただくか、softbankサポートにご確認ください。</span>
<br />
</div>
