<% content_for(:sub_title) do %>
携帯について
<% end %>

<p>当サイトは DoCoMo、au、SoftBankの3キャリアに対応しておりますが、機種によって一部機能をお使いいただけない場合があります。</p>

<ul>
	<li>NTT DoCoMo<br />
	FOMA対応機種</li>
	<li>KDDI(au)<br />
	CDMA 1X, WIN対応機種</li>
	<li>SoftBank<br />
	3GC対応機種、3G対応機種</li>
</ul>

<%= image_tag_for_default 'qr.jpg' %>
