<% content_for(:sub_title) do %>
<%= t('view.noun.base_footmark') %>について
<% end %>

<div style="text-align:left;">
<%= t('view.noun.base_friend') %>が<%= t('view.noun.my_portal') %>や<%= t('view.noun.base_profile') %>を見た際、閲覧した履歴が残ります。
</div>