<% content_for(:sub_title) do %>
<%= t('view.noun.abm_album') %>について
<% end %>

<div style="text-align:left;">
携帯から写メールを投稿して<%= t('view.noun.abm_album') %>を作成できます。作成したアルバムは友達まで公開や友達の友達まで公開など公開設定をすることができます。
</div>