<% content_for(:sub_title) do %>
<%= t('view.noun.msg_message') %>について
<% end %>

<div style="text-align:left;">
<%= t('view.noun.base_friend') %>にメッセージを送ることができます。また送信した<%= t('view.noun.msg_message') %>や受け取った<%= t('view.noun.msg_message') %>を確認できます。
</div>
