<% content_for(:header_title) do %>
<%= t('view.noun.dia_entry') %>について
<% end %>

<div style="text-align:left;">
<%= t('view.noun.dia_entry') %>を書くことができます。<%= t('view.noun.dia_entry') %>は友達までや友達の友達までなど、公開範囲を設定できます。<br/><br/>
</div>