<div id="left02">
  <div class="sideWrap">
    <h4><p><%= @pan2 -%></p></h4>
    <div class="sideMenu">
      <ul>
        <li><%= link_to "種別一覧", manage_base_mail_template_kinds_path %></li>
      </ul>
    </div>
  </div>
</div><!-- /left02 -->