<% content_for(:sub_title) do %>
第1条(定義)
<% end %>

<div style="text-align:left;">
本規約における用語は、それぞれ以下の通りの意味を有するものとします。<br/>
<br/>
・「会員」とは、本サービスをご利用になる方をいいます。<br/>
・「サービスパートナー」とは、弊社が本サービスを企画・運営するにあたり、ポイント、賞品、広告、キャンペーン等の管理・運営を弊社と共同で行う会社と契約した場合、その会社をいいます。<br/>
・「本サービス」とは、弊社が本サイトにて提供するサービスのことをいいます。<br/>
・「提携企業」とは、弊社が会員に対してポイント、広告、キャンペーン等を提供することを承諾した企業をいいます。<br/>
・「ポイント」とは、弊社が発行・運営・管理し、会員に対して付与するポイントのことをいいます。<br/>

</div>