<% content_for(:sub_title) do %>
第2条(会員登録)
<% end %>

<div style="text-align:left;">
	(1)本サイトへの会員登録は無料で行えるものとします。<br/>
	(2) 会員登録への申込者は、本サービスへの会員登録申請を行い、弊社がこれを承諾後に送付する会員登録完了メールを受け取ることにより会員となることができます。<br/>
	(3)弊社は、会員登録申請に対する承諾に支障があると弊社が判断した場合には、承諾しないことがあります。<br/>
	(4)会員は、弊社の事務処理の都合から、日本国内に住所を有するものに限定させていただきます。<br/>
</div>