<% content_for(:sub_title) do %>
第3条(規約の同意)
<% end %>

<div style="text-align:left;">
	(1)会員は、会員登録を申請したユーザーＩＤの発行を受けた時点で本規約に同意したものとみなします。<br />
	(2)本規約以外に、本サイトによって公表しているすべての規定、規則、注意事項、お知らせ等の記載は、本規約の一部を構成し、会員はこれを同意した上で利用できるものとします。<br />
	(3)会員は、規約等の変更内容に同意できない場合には退会することができます。<br />
</div>