<% content_for(:sub_title) do %>
第5条（資格喪失）
<% end %>

<div style="text-align:left;">
	(1)会員は、次条により会員資格を取消された場合や、第７条による退会を行った場合、または、本規約の定めに基づいて本サービスの利用資格を失った場合には、会員資格を失うものとします。<br />
	(2)会員が会員資格を失った場合、ポイント等の取得権利を失うものとします<br />
</div>