<% content_for(:sub_title) do %>
第6条（会員資格の取消）
<% end %>

<div style="text-align:left;">
会員が以下のいずれかに該当すると弊社が判断する場合、弊社は事前に通知することなく、直ちに当該会員の会員資格を取消すことがあります。<br /><br />
・第１0条（禁止事項）に規定される行為を行った場合。<br />
・弊社への届出内容に虚偽があった場合。<br />
・その他、本規約に一つにでも違反した場合。<br />
・その他、会員として不適切と弊社が判断した場合。<br />
</div>