<% content_for(:sub_title) do %>
第7条（退会）
<% end %>

<div style="text-align:left;">
会員が退会するためには、退会する旨の申請を行い、弊社がこれを承諾した時点で、会員資格を喪失するものとします。
会員は、退会時にポイント等の取得権利などを失うものとします。また、退会した会員が再度会員登録を行った場合でも、退会時に失ったポイント等の取得権利などは復活しないものとします。
</div>