<% content_for(:sub_title) do %>
第8条（設備等の準備）
<% end %>

<div style="text-align:left;">
(1)会員は、本サービスをご利用になるために、通信機器やソフトウエア、携帯電話利用契約の締結等を自己の費用と責任において行わなければなりません。<br />
(2)本サービスのご利用には、本サービス利用料の他に別途通信料がかかります。<br />
</div>