<% content_for(:sub_title) do %>
第9条（著作権等）
<% end %>

<div style="text-align:left;">
(1)本サービスに関する著作権等の一切の知的財産権は、弊社に帰属します。但し、弊社が版権元様から許諾を受けて本サービスに使用している一切の知的財産権は、版権元様に帰属します。<br />
(2)会員は、本サービスを通じて提供を受けたいかなる情報も、会員個人の私的使用の範囲を超えて使用をする（無断掲載等一切を含む）ことはできません。<br />
(3)本条の規定に違反して問題が発生した場合、会員は、自己の費用と責任において問題を解決するものとし、弊社及び第三者に迷惑や損害を与えてはなりません。<br />
</div>