<% content_for(:sub_title) do %>
第10条（禁止事項）
<% end %> 

<div style="text-align:left;">
	会員は、本サービスの利用にあたって次の各号の行為を行ってはならないものとします。<br /><br />
	(1)他の会員や第三者若しくは弊社の著作権、その他一切の知的財産権を侵害したり、侵害するおそれのある行為。<br />
	(2)公序良俗に反する行為、又はそのおそれのある行為<br />
	(3)犯罪行為若しくは犯罪に結びつく行為、又はそのおそれのある行為。<br />
	(4)事実に反する、又はそのおそれのある情報を流布する行為。<br />
	(5)弊社の承認のない、営利を目的とした行為やそれに類する行為。<br />
	(6)本サービスの運営を妨げる行為や、それに類する行為。<br />
	(7)本サービスの信用を傷つける行為や、それに類する行為。<br />
	(8)他人のメールアドレス（ID）を使用する行為。<br />
	(9)有害なプログラムを使用したり、配布若しくは提供する行為。<br />
	(10)他の会員のプライバシーに関する情報を公表する行為。<br />
	(11)本サービスに掲載された写真、イラスト、文章、音楽等の無断掲載をする行為。<br />
	(12)その他、法令に違反したり、又は違反するおそれのある行為。<br />
	(13)その他、弊社が不適切と判断する行為。<br />
</div>