<% content_for(:sub_title) do %>
第11条（本サービスの提供）
<% end %>

<div style="text-align:left;">
	(1)弊社は、弊社の判断により、会員に事前の通知をすることなく、本サービスの内容の一部又は全部を変更、追加、廃止、運用の中止をすることができるものとします。<br />
	(2)前項の場合は、弊社が適当と判断する方法で、会員にその旨を通知します。ただし、緊急の場合には会員への通知を行わない場合があります。<br />
</div>