<% content_for(:sub_title) do %>
第13条（情報の利用）
<% end %>

<div style="text-align:left;">
	(1)弊社は、本サービスにより知り得た一切の情報を利用して、弊社から各種サービス情報等を発信することができるものとします。<br />
	(2)弊社は、本サイトにおける各種サービスの提供や情報利用（キャンペーン、アンケート等を含む）等を行うため、会員登録時にご提供いただく個人情報とは別に、会員登録時にご提供いただかなかった個人情報を会員から同意の上ご提供頂く場合があります。
	会員登録時及び会員登録後にご提供頂いた会員の個人情報に関しましては、本サイトのサービスにおける情報の発信や商品、景品等の発送、個人を特定しない統計データとしての分析等を目的とし、当該目的以外の利用を行わないよう管理するものとします。<br />
	(3)個人情報の取り扱いは、別途定める個人情報保護方針にしたがうものとします。<br />
</div>