<% content_for(:sub_title) do %>
第14条（ポイントの付与）
<% end %>

<div style="text-align:left;">
	(1)会員が、サービスパートナー、提携企業または弊社が定める成果を挙げ、サービスパートナー、提携企業または弊社がその成果を承認した場合に、弊社は会員に対して、サービスパートナー、提携企業または弊社が定めるポイントを付与します。<br />
	(2)提携企業、サービスパートナー、または弊社が付与するポイントは、会員の「ポイント通帳」へ蓄積されます。<br />
	(3)弊社は、会員が獲得したポイントが、弊社システムの不具合等により、会員の「ポイント通帳」に正しく表示されなかった場合は、正確なポイント表示に変更することができるものとします。<br />
	(4)弊社が付与したポイントの有効期限は、会員が本サイトにて最後にポイントを獲得または使用してから180日間とします。ポイントの有効期限が切れた場合、会員が獲得した全てのポイントが失効致します。また、当該会員が退会した場合にもポイントは失効致します。<br />
</div>