<% content_for(:sub_title) do %>
第15条（ポイントの交換）
<% end %>

<div style="text-align:left;">
	(1)会員は、獲得したポイントの商品等への還元申請をできるものとします。会員が、弊社所定の手続きによる商品の還元申請が成立した場合、弊社は、商品発送等の目的に必要な範囲で会員の個人情報を会員から取得し、提携企業または配送業務委託企業に開示し、商品還元申請を行った会員の住所に該当商品の発送を行います。<br />
	(2)会員は、金銭及び商品への還元申請を行った後に申請を取消及び変更することはできません。弊社は、会員が金銭及び商品の交換に申請し、ポイント通帳から差し引かれた金銭及び商品の交換分ポイントをポイント通帳に戻すことはいたしません。<br />
</div>