<% content_for(:sub_title) do %>
第16条（ポイントの取消）
<% end %>

<div style="text-align:left;">
	弊社は、会員が以下のいずれかに該当する場合、会員に付与したポイントを取消すことができます。<br /><br />
	・会員が掲載中の提携企業へ重複応募した場合<br />
	・提携企業、サービスパートナー、または弊社の定める条件に従っていなかった場合<br />
	・会員が提携企業、サービスパートナー、または弊社に登録した情報に虚偽の記載、誤記及び不正の記載があった場合<br />
	・会員が不正な手段によってポイントを取得した場合<br />
	・会員が本規約に違反した場合<br />
	・システムの不具合等により、会員に誤ったポイントが付与された場合<br />
	・その他弊社が会員に付与されたポイントを取消すことが適当と判断した場合<br />
</div>