<% content_for(:sub_title) do %>
第17条(免責事項)
<% end %>

<div style="text-align:left;">
	(1)本サイトの利用は会員の責任において行われるものとします。会員が正常に本サービスを受けられない等によって生じたあらゆる結果や損害につきましては、弊社は責任を負いません。<br />
	(2)弊社は本サービスの内容や本サービスを通じて会員が得る情報等について、いかなる保証も行いません。<br />
	(3)弊社は本サービスの内容や本サービスを通じて会員に損害が生じても、一切の責任を負いません。<br />
	(4)弊社は本サービスの遅滞、内容の変更、追加、中止、本サービスに登録され、あるいは提供される情報等の流失若しくは消失等、その他本サービスに関連して発生した会員の損害について、一切の責任を負いません。<br />
	(5)弊社は、通信機器、ソフトウェア、携帯電話会社の責めに帰すべき事由による本サービスの遅滞等の履行遅滞、不完全履行、中止等の履行不能（電話回線の混雑による履行遅滞、不完全履行、履行不能等一切を含む）等に関連して発生した会員の損害について、一切の責任を負いません。<br />
	(6)弊社は、会員間の紛争に関して、一切責任を負いません。<br />
</div>