
<h2>利用規約</h2>

<p>○○○（以下「本サイト）という）は株式会社○○○（以下「弊社」という）が開発し運営する、携帯電話ウェブコンテンツサービスです。弊社は、本サイト会員規約（以下「本規約」という）を、以下の通り定めます。</p>

<h3>第1条(定義)</h3>

本規約における用語は、それぞれ以下の通りの意味を有するものとします。<br/>
<br/>
・「会員」とは、本サービスをご利用になる方をいいます。<br/>
・「サービスパートナー」とは、弊社が本サービスを企画・運営するにあたり、ポイント、賞品、広告、キャンペーン等の管理・運営を弊社と共同で行う会社と契約した場合、その会社をいいます。<br/>
・「本サービス」とは、弊社が本サイトにて提供するサービスのことをいいます。<br/>
・「提携企業」とは、弊社が会員に対してポイント、広告、キャンペーン等を提供することを承諾した企業をいいます。<br/>
・「ポイント」とは、弊社が発行・運営・管理し、会員に対して付与するポイントのことをいいます。<br/>
<br/>

<h3>第2条(会員登録)</h3>

(1)本サイトへの会員登録は無料で行えるものとします。<br/>
(2) 会員登録への申込者は、本サービスへの会員登録申請を行い、弊社がこれを承諾後に送付する会員登録完了メールを受け取ることにより会員となることができます。<br/>
(3)弊社は、会員登録申請に対する承諾に支障があると弊社が判断した場合には、承諾しないことがあります。<br/>
(4)会員は、弊社の事務処理の都合から、日本国内に住所を有するものに限定させていただきます。<br/>
<br />
<h3>第3条(規約の同意)</h3>

(1)会員は、会員登録を申請したユーザーＩＤの発行を受けた時点で本規約に同意したものとみなします。<br />
(2)本規約以外に、本サイトによって公表しているすべての規定、規則、注意事項、お知らせ等の記載は、本規約の一部を構成し、会員はこれを同意した上で利用できるものとします。<br />
(3)会員は、規約等の変更内容に同意できない場合には退会することができます。<br />
<br />
<h3>第4条（変更の届出）</h3>

会員は、住所や電話番号等弊社への届出内容に変更が生じた場合には、速やかに弊社にその旨届出なければなりません。
<br /><br />
<h3>第5条（資格喪失）</h3>

(1)会員は、次条により会員資格を取消された場合や、第７条による退会を行った場合、または、本規約の定めに基づいて本サービスの利用資格を失った場合には、会員資格を失うものとします。<br />
(2)会員が会員資格を失った場合、ポイント等の取得権利を失うものとします<br />
<br />
<h3>第6条（会員資格の取消）</h3>

会員が以下のいずれかに該当すると弊社が判断する場合、弊社は事前に通知することなく、直ちに当該会員の会員資格を取消すことがあります。<br /><br />
・第１0条（禁止事項）に規定される行為を行った場合。<br />
・弊社への届出内容に虚偽があった場合。<br />
・その他、本規約に一つにでも違反した場合。<br />
・その他、会員として不適切と弊社が判断した場合。<br />
<br />
<h3>第7条（退会）</h3>

会員が退会するためには、退会する旨の申請を行い、弊社がこれを承諾した時点で、会員資格を喪失するものとします。
会員は、退会時にポイント等の取得権利などを失うものとします。また、退会した会員が再度会員登録を行った場合でも、退会時に失ったポイント等の取得権利などは復活しないものとします。
<br /><br />
<h3>第8条（設備等の準備）</h3>

(1)会員は、本サービスをご利用になるために、通信機器やソフトウエア、携帯電話利用契約の締結等を自己の費用と責任において行わなければなりません。<br />
(2)本サービスのご利用には、本サービス利用料の他に別途通信料がかかります。<br />
<br />
<h3>第9条（著作権等）</h3>

(1)本サービスに関する著作権等の一切の知的財産権は、弊社に帰属します。但し、弊社が版権元様から許諾を受けて本サービスに使用している一切の知的財産権は、版権元様に帰属します。<br />
(2)会員は、本サービスを通じて提供を受けたいかなる情報も、会員個人の私的使用の範囲を超えて使用をする（無断掲載等一切を含む）ことはできません。<br />
(3)本条の規定に違反して問題が発生した場合、会員は、自己の費用と責任において問題を解決するものとし、弊社及び第三者に迷惑や損害を与えてはなりません。<br />
<br />
<h3>第10条（禁止事項）</h3>

会員は、本サービスの利用にあたって次の各号の行為を行ってはならないものとします。<br /><br />
(1)他の会員や第三者若しくは弊社の著作権、その他一切の知的財産権を侵害したり、侵害するおそれのある行為。<br />
(2)公序良俗に反する行為、又はそのおそれのある行為<br />
(3)犯罪行為若しくは犯罪に結びつく行為、又はそのおそれのある行為。<br />
(4)事実に反する、又はそのおそれのある情報を流布する行為。<br />
(5)弊社の承認のない、営利を目的とした行為やそれに類する行為。<br />
(6)本サービスの運営を妨げる行為や、それに類する行為。<br />
(7)本サービスの信用を傷つける行為や、それに類する行為。<br />
(8)他人のメールアドレス（ID）を使用する行為。<br />
(9)有害なプログラムを使用したり、配布若しくは提供する行為。<br />
(10)他の会員のプライバシーに関する情報を公表する行為。<br />
(11)本サービスに掲載された写真、イラスト、文章、音楽等の無断掲載をする行為。<br />
(12)その他、法令に違反したり、又は違反するおそれのある行為。<br />
(13)その他、弊社が不適切と判断する行為。<br />
<br />
<h3>第11条（本サービスの提供）</h3>

(1)弊社は、弊社の判断により、会員に事前の通知をすることなく、本サービスの内容の一部又は全部を変更、追加、廃止、運用の中止をすることができるものとします。<br />
(2)前項の場合は、弊社が適当と判断する方法で、会員にその旨を通知します。ただし、緊急の場合には会員への通知を行わない場合があります。<br />
<br />
<h3>第12条(会員への通知方法)</h3>

弊社は弊社から会員に対する通知を特別に定めのある場合を除き、会員が登録した電子メールアドレス宛への電子メール、本サイト上の掲示、または、その他弊社が適当と認める方法により行うものとします。
<br /><br />
<h3>第13条（情報の利用）</h3>

(1)弊社は、本サービスにより知り得た一切の情報を利用して、弊社から各種サービス情報等を発信することができるものとします。<br />
(2)弊社は、本サイトにおける各種サービスの提供や情報利用（キャンペーン、アンケート等を含む）等を行うため、会員登録時にご提供いただく個人情報とは別に、会員登録時にご提供いただかなかった個人情報を会員から同意の上ご提供頂く場合があります。
会員登録時及び会員登録後にご提供頂いた会員の個人情報に関しましては、本サイトのサービスにおける情報の発信や商品、景品等の発送、個人を特定しない統計データとしての分析等を目的とし、当該目的以外の利用を行わないよう管理するものとします。<br />
(3)個人情報の取り扱いは、別途定める個人情報保護方針にしたがうものとします。<br />
<br />
<h3>第14条（ポイントの付与）</h3>

(1)会員が、サービスパートナー、提携企業または弊社が定める成果を挙げ、サービスパートナー、提携企業または弊社がその成果を承認した場合に、弊社は会員に対して、サービスパートナー、提携企業または弊社が定めるポイントを付与します。<br />
(2)提携企業、サービスパートナー、または弊社が付与するポイントは、会員の「ポイント通帳」へ蓄積されます。<br />
(3)弊社は、会員が獲得したポイントが、弊社システムの不具合等により、会員の「ポイント通帳」に正しく表示されなかった場合は、正確なポイント表示に変更することができるものとします。<br />
(4)弊社が付与したポイントの有効期限は、会員が本サイトにて最後にポイントを獲得または使用してから180日間とします。ポイントの有効期限が切れた場合、会員が獲得した全てのポイントが失効致します。また、当該会員が退会した場合にもポイントは失効致します。<br />
<br />
<h3>第15条（ポイントの交換）</h3>

(1)会員は、獲得したポイントの商品等への還元申請をできるものとします。会員が、弊社所定の手続きによる商品の還元申請が成立した場合、弊社は、商品発送等の目的に必要な範囲で会員の個人情報を会員から取得し、提携企業または配送業務委託企業に開示し、商品還元申請を行った会員の住所に該当商品の発送を行います。<br />
(2)会員は、金銭及び商品への還元申請を行った後に申請を取消及び変更することはできません。弊社は、会員が金銭及び商品の交換に申請し、ポイント通帳から差し引かれた金銭及び商品の交換分ポイントをポイント通帳に戻すことはいたしません。<br />
<br />
<h3>第16条（ポイントの取消）</h3>

弊社は、会員が以下のいずれかに該当する場合、会員に付与したポイントを取消すことができます。<br /><br />
・会員が掲載中の提携企業へ重複応募した場合<br />
・提携企業、サービスパートナー、または弊社の定める条件に従っていなかった場合<br />
・会員が提携企業、サービスパートナー、または弊社に登録した情報に虚偽の記載、誤記及び不正の記載があった場合<br />
・会員が不正な手段によってポイントを取得した場合<br />
・会員が本規約に違反した場合<br />
・システムの不具合等により、会員に誤ったポイントが付与された場合<br />
・その他弊社が会員に付与されたポイントを取消すことが適当と判断した場合<br />
<br />
<h3>第17条(免責事項)</h3>

(1)本サイトの利用は会員の責任において行われるものとします。会員が正常に本サービスを受けられない等によって生じたあらゆる結果や損害につきましては、弊社は責任を負いません。<br />
(2)弊社は本サービスの内容や本サービスを通じて会員が得る情報等について、いかなる保証も行いません。<br />
(3)弊社は本サービスの内容や本サービスを通じて会員に損害が生じても、一切の責任を負いません。<br />
(4)弊社は本サービスの遅滞、内容の変更、追加、中止、本サービスに登録され、あるいは提供される情報等の流失若しくは消失等、その他本サービスに関連して発生した会員の損害について、一切の責任を負いません。<br />
(5)弊社は、通信機器、ソフトウェア、携帯電話会社の責めに帰すべき事由による本サービスの遅滞等の履行遅滞、不完全履行、中止等の履行不能（電話回線の混雑による履行遅滞、不完全履行、履行不能等一切を含む）等に関連して発生した会員の損害について、一切の責任を負いません。<br />
(6)弊社は、会員間の紛争に関して、一切責任を負いません。<br />
<br />
<h3>第18条（準拠法）</h3>

本サービスに関する紛争は、日本国の諸法が適用されるものとします。
<br /><br />
<h3>第19条（管轄裁判所）</h3>

本サービスに関連して会員と弊社との間で問題が生じた場合には、会員と弊社で誠意をもって協議するものとしますが、協議しても解決しない場合には訴額に応じて東京地方裁判所または東京簡易裁判所を専属管轄裁判所とします。
<br /><br />
